<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }
      input {
        padding: 10px;
        margin-bottom: 15px;
      }
      .error-color {
        color: red;
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <h2>Login</h2>

    <form method="POST">
      {% csrf_token %}
      <input name="username" placeholder="Username" type="text" />
      <br />
      <input name="password" placeholder="Password" type="password" />
      <br />
      <input type="submit" value="SUBMIT" />
      {% if form.errors %}
      <p><strong class="error-color">{{ form.errors }}</strong></p>
      {% endif %}
    </form>
  </body>
</html>
