<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        width: 100%;
        border: 1px solid black;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h2>Goal Table</h2>
    <table>
      <tr>
        <th>User</th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify Goals</th>
        <th>Done Goals</th>
      </tr>

      {% for item in data %}
      <tr>
        <td>{{ item.user }}</td>

        <td>
          {% for item in item.weekly_result %}
          <p>{{ item }}</p>
          {% endfor %}
        </td>

        <td>
          {% for item in item.daily_result %}
          <p>{{ item }}</p>
          {% endfor %}
        </td>

        <td>
          {% for item in item.verify_result %}
          <p>{{ item }}</p>
          {% endfor %}
        </td>

        <td>
          {% for item in item.done_result %}
          <p>{{ item }}</p>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
